<h1>Detail Perumahan</h1>

<div class="row show-grid">
  <div class="col-3 col-sm-3">
    <div><strong><label>Nama Perumahan</label></strong></div>
    <div><strong><label>Nama Pengembang</label></strong></div>
    <div><strong><label>Luas Perumahan</label></strong></div>
    <div><strong><label>Jumlah Rumah</label></strong></div>
    <div><strong><label>Foto Perumahan</label></strong></div>
    <div><strong><label>Lokasi</label></strong></div>
    <div><strong><label>Status</label></strong></div>
    <div><strong><label>Koordinat Perumahan</label></strong></div>
    <div><strong><label>CCTV</label></strong></div>
    <div><strong><label>Keterangan</label></strong></div>

  </div>
  <div class="col-6 col-md-4 spasi">
    <div>Perumahan Bumi Citra Asri</div>
    <div>PT. Riscon Hasanah</div>
    <div>10000 m2</div>
    <div>900 Unit</div>
    <div>Perumahan Bumi Citra Asri</div>
    <div>Foto Perumahan</div>
    <div>JL. Tojong - Bojong Gede</div>
    <div>Baru</div>
    <div>910310930193019</div>
    <div>Gambar CCTV</div>
    <div>ndklsalkflsafasjkfsajfjjashfjkhajkfhashfljksh</div>
  </div>
</div>


