<nb-card>
  <nb-card-header>
    Detail Perumahan
  </nb-card-header>
  <nb-card-body>
    <div class="row show-grid">
      <div class="col-3 col-sm-3">
        <div><strong><label>Nama Perumahan</label></strong></div>
        <div><strong><label>Nama Pengembang</label></strong></div>
        <div><strong><label>Luas Perumahan</label></strong></div>
        <div><strong><label>Jumlah Rumah</label></strong></div>
        <div><strong><label>Foto Perumahan</label></strong></div>
        <div><strong><label>Lokasi</label></strong></div>
        <div><strong><label>Status</label></strong></div>
        <div><strong><label>Koordinat Perumahan</label></strong></div>
        <div><strong><label>CCTV</label></strong></div>
        <div><strong><label>Keterangan</label></strong></div>

      </div>
      <div class="col-6 col-md-4 spasi">
        <div><label>Perumahan Bumi Citra Asri</label></div>
        <div><label>PT. Riscon Hasanah</label></div>
        <div><label>10000 m2</label></div>
        <div><label>900 Unit</label></div>
        <div><label>Foto Perumahan</label></div>
        <div><label>JL. Tojong - Bojong Gede</label></div>
        <div><label>Baru</label></div>
        <div><label>910310930193019</label></div>
        <div><label>Gambar CCTV</label></div>
        <div><label>ndklsalkflsafasjkfsajfjjashfjkhajkfhashfljksh</label></div>
      </div>
    </div>
  </nb-card-body>
</nb-card>


