<nb-card>
  <nb-card-header class="text-center">
    <h4>{{this.state.dataPerumahan.nama_perumahan}}</h4>
  </nb-card-header>
  <nb-card-body>
    <div class="row show-grid">
      <div class="col-4 col-sm-4">
        <div><label>Nama Pengembang</label></div>
        <div><label>Luas Perumahan (m2)</label></div>
        <div><label>Jumlah Rumah</label></div>
        <div><label>Lokasi</label></div>
        <div><strong><label>Status</label></strong></div>
        <div><strong><label> &nbsp;&nbsp;&nbsp;&nbsp;Tanggal Serah Terima</label></strong></div>
        <div><strong><label> &nbsp;&nbsp;&nbsp;&nbsp;No. Berita Acara Serah Terima</label></strong>
        </div>
        <div><strong><label> &nbsp;&nbsp;&nbsp;&nbsp;SPH</label></strong></div>
      </div>
      <div class="col-6 col-md-6 spasi">
        <div>: <label>{{ this.state.dataPerumahan.nama_pengembang }}</label></div>
        <div>: <label>{{ this.state.dataPerumahan.luas_perumahan }}</label></div>
        <div>: <label>{{ this.state.dataPerumahan.jumlah_rumah }} unit</label></div>
        <div>: <label>{{ this.state.dataPerumahan.kecamatan }}, {{
          this.state.dataPerumahan.kelurahan }},
          RT.{{
          this.state.dataPerumahan.RT}} / RW.{{ this.state.dataPerumahan.RW }}</label></div>
        <div>: <strong><label>{{ this.state.dataPerumahan.status }}</label></strong></div>
        <div>:
          <strong><label>{{ this.state.dataPerumahan.tgl_serah_terima | date: 'dd MMMM yyyy' }}</label></strong></div>
        <div>: <strong><label>{{ this.state.dataPerumahan.no_bast }}</label></strong></div>
        <div>: <strong><label>{{ this.state.dataPerumahan.sph }}</label></strong></div>
      </div>
    </div>

    <strong><label>Foto Perumahan</label></strong>
    <table class="table table table-sm table-bordered">
      <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama Foto</th>
        <th scope="col">Gambar Foto</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let fotoPerumahan of this.state.dataPerumahan.fotos">
        <th scope="row">{{fotoPerumahan.id}}</th>
        <td>{{fotoPerumahan.nama_foto}}</td>
        <td><a target="_blank" href="{{fotoPerumahan.path_foto}}"><img
          src="{{fotoPerumahan.path_foto}}" style="width: 150px"></a></td>
      </tr>
      </tbody>
    </table>
    <strong><label>PSU Yang Diserahkan : Data Sarana</label></strong>
    <table class="table table-sm table-bordered">
      <thead class="table-primary">
      <tr>
        <th scope="col" rowspan="2">#</th>
        <th scope="col" rowspan="2">Nama Sarana</th>
        <th scope="col" rowspan="2">Luas Sarana (m2)</th>
        <th scope="col" rowspan="2">Foto Sarana</th>
        <th scope="col" rowspan="2">Kondisi Sarana</th>
        <th scope="col" colspan="2">Koordinat</th>
      </tr>
      <tr>
        <th scope="col">Longitude</th>
        <th scope="col">Latitude</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dataSarana of this.state.dataPerumahan.saranas">
        <th scope="row">{{dataSarana.id}}</th>
        <td>{{dataSarana.nama_sarana}}</td>
        <td>{{dataSarana.luas_sarana}}</td>
        <td *ngIf="dataSarana.foto_sarana!==null">
          <a *ngFor="let dataFotoSarana of dataSarana.foto_sarana.split(',')" target="_blank"
             href="{{dataFotoSarana}}">
          <img src="{{dataFotoSarana}}" style="width:150px">
          </a></td>
        <td>{{dataSarana.kondisi_sarana}}</td>
        <td *ngFor="let dataLongitude of dataSarana.koordinat">
          {{dataLongitude.longitude}}</td>
        <td *ngFor="let dataLatitude of dataSarana.koordinat">
          {{dataLatitude.latitude}}</td>
      </tr>
    </table>

    <strong><label>PSU Yang Diserahkan : Data Jalan dan Saluran</label></strong>
    <table class="table table table-sm table-bordered">
      <thead class="table-primary">
      <tr>
        <th scope="col" rowspan="2">#</th>
        <th scope="col" rowspan="2">Nama Jalan dan Saluran</th>
        <th scope="col" rowspan="2">Luas Jalan dan Saluran</th>
        <th scope="col" rowspan="2">Foto Jalan dan Saluran</th>
        <th scope="col" rowspan="2">Kondisi Jalan dan Saluran</th>
        <th scope="col" colspan="2">Koordinat</th>
      </tr>
      <tr>
        <th scope="col">Longitude</th>
        <th scope="col">Latitude</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dataJalanSaluran of this.state.dataPerumahan.jalansalurans">
        <th scope="row">{{dataJalanSaluran.id}}</th>
        <td>{{dataJalanSaluran.nama_jalan_saluran}}</td>
        <td>{{dataJalanSaluran.luas_jalan_saluran}}</td>
        <td *ngIf="dataJalanSaluran.foto_jalan_saluran!==null"><a *ngFor="let dataFotoJalanSaluran
         of
        dataJalanSaluran.foto_jalan_saluran.split(',')"
               target="_blank" href="{{dataFotoJalanSaluran}}">
          <img src="{{dataFotoJalanSaluran}}" style="width:150px">
        </a></td>
        <td>{{dataJalanSaluran.kondisi}}</td>
        <td *ngFor="let dataLongitude of dataJalanSaluran.koordinattamans">
          {{dataLongitude.longitude}}</td>
        <td *ngFor="let dataLatitude of dataJalanSaluran.koordinattamans">
          {{dataLatitude.latitude}}</td>
      </tr>
      </tbody>
    </table>

    <strong><label>PSU Yang Diserahkan : Data Taman</label></strong>
    <table class="table table table-sm table-bordered">
      <thead class="table-primary">
      <tr>
        <th scope="col" rowspan="2">#</th>
        <th scope="col" rowspan="2">Nama Taman</th>
        <th scope="col" rowspan="2">Luas Taman (m2)</th>
        <th scope="col" rowspan="2">Foto Taman</th>
        <th scope="col" rowspan="2">Kondisi Taman</th>
        <th scope="col" colspan="2">Koordinat</th>
      </tr>
      <tr>
        <th scope="col">Longitude</th>
        <th scope="col">Latitude</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dataTaman of this.state.dataPerumahan.tamans">
        <th scope="row">{{dataTaman.id}}</th>
        <td>{{dataTaman.nama_taman}}</td>
        <td>{{dataTaman.luas_taman}}</td>
        <td *ngIf="dataTaman.foto_taman!==null"><a *ngFor="let dataFotoTaman of
        dataTaman.foto_taman.split(',')"
               target="_blank" href="{{dataFotoTaman}}">
          <img src="{{dataFotoTaman}}" style="width:150px"></a>
        </td>
        <td>{{dataTaman.kondisi}}</td>
        <td *ngFor="let dataLongitude of dataTaman.koordinat">
          {{dataLongitude.longitude}}</td>
        <td *ngFor="let dataLatitude of dataTaman.koordinat">
          {{dataLatitude.latitude}}</td>
      </tr>
      </tbody>
    </table>

    <div class="row show-grid">
      <div class="col-3 col-sm-3">
        <div><label>Koordinat Perumahan</label></div>
      </div>
      <div class="col-10 col-md-6 spasi">
        <div> Longitude
          :<label><b>{{ this.state.dataPerumahan.koordinat_perumahan.longitude }}</b></label><br></div>
        <div> Latitude
          :<label><b>{{ this.state.dataPerumahan.koordinat_perumahan.latitude }}</b></label><br></div>
      </div>
    </div>

    <strong><label>Data CCTV</label></strong>
    <table class="table table table-sm table-bordered">
      <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama CCTV</th>
        <th scope="col">IP CCTV</th>
        <th scope="col">Video</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dataCCTV of this.state.dataPerumahan.cctvs">
        <th scope="row">{{dataCCTV.id}}</th>
        <td>{{dataCCTV.nama_cctv}}</td>
        <td>{{dataCCTV.ip_cctv}}</td>
        <td>
          <a target="_blank" href="{{dataCCTV.video}}"><img src="{{dataCCTV.video}}" style="width:150px"></a></td>
      </tr>
      </tbody>
    </table>
    <div class="row show-grid">
      <div class="col-2 col-sm-2">
        <div><label>Keterangan</label></div>
      </div>
      <div class="col-6 col-md-6 spasi">
        <div>: <label>{{ this.state.dataPerumahan.keterangan }}</label></div>
      </div>
    </div>
    <br>


    <a routerLink="../../../pages/psu-kawasan-perumahan/kelola-data-perumahan" class="btn btn-primary">
      Kembali</a>
    <a routerLink="" class="btn btn-success">Cetak</a>

  </nb-card-body>
</nb-card>


