<table class="table table-borderless table-sm">
  <tbody>
  <tr>
    <td><b>Nama Pengembang</b></td>
    <td>:</td>
    <td>{{nama_pengembang}}</td>
    <td></td>
    <td rowspan="9"><img src="../../../../../assets/images/camera1.jpg"></td>
  </tr>
  <tr>
    <td><b>Luas Perumahan (m2)</b></td>
    <td>:</td>
    <td>{{luas_perumahan}}</td>
  </tr>
  <tr>
    <td><b>Foto</b></td>
    <td>:</td>
    <td>{{foto}}</td>
  </tr>
  <tr>
    <td><b>Lokasi</b></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Kecamatan</td>
    <td>:</td>
    <td>{{kecamatan}}</td>
  </tr>
  <tr>
    <td>Kelurahan</td>
    <td>:</td>
    <td>{{kelurahan}}</td>
  </tr>
  <tr>
    <td>RT</td>
    <td>:</td>
    <td>{{RT}}</td>
  </tr>
  <tr>
    <td>RW</td>
    <td>:</td>
    <td>{{RW}}</td>
  </tr>
  <tr>
    <td><b>Status</b></td>
    <td>:</td>
    <td><b>{{status}}</b></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><b>Tanggal Serah Terima</b></td>
    <td>:</td>
    <td><b>{{tgl_serah_terima}}</b></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><b>No. BAST</b></td>
    <td>:</td>
    <td><b>{{no_bast}}</b></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><b>Jumlah PSU Yang Diserahkan</b></td>
    <td>:</td>
    <td><b>{{jumlah_psu}}</b></td>
  </tr>
  <tr>
    <td><b>Keterangan</b></td>
    <td>:</td>
    <td>{{keterangan}}</td>
  </tr>
  <tr>
    <td colspan="4"><a routerLink="../../../pages/psu-kawasan-perumahan/detail-data-perumahan"
                       [state]="detailPerumahan"
                       (click)="close()"><b>Selengkapnya...</b></a></td>
  </tr>
  </tbody>
</table>
