<table class="table table-borderless table-sm">
  <tbody>
  <tr>
    <td>Nama Pengembang</td>
    <td>:</td>
    <td>{{nama_pengembang}}</td>
    <td rowspan="10"><img src="../../../../../assets/images/camera1.jpg"></td>
  </tr>
  <tr>
    <td>Luas Perumahan (m2)</td>
    <td>:</td>
    <td>{{luas_taman}}</td>
  </tr>
  <tr>
    <td>Foto</td>
    <td>:</td>
    <td>{{foto}}</td>
  </tr>
  <tr>
    <td>Lokasi</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Kecamatan</td>
    <td>:</td>
    <td>{{kecamatan}}</td>
  </tr>
  <tr>
    <td>Kelurahan</td>
    <td>:</td>
    <td>{{kelurahan}}</td>
  </tr>
  <tr>
    <td>RT</td>
    <td>:</td>
    <td>{{RT}}</td>
  </tr>
  <tr>
    <td>RW</td>
    <td>:</td>
    <td>{{RW}}</td>
  </tr>
  <tr>
    <td>Status</td>
    <td>:</td>
    <td>{{status}}</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>Tanggal Serah Terima</td>
    <td>:</td>
    <td>{{tgl_serah_terima}}</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>No. BAST</td>
    <td>:</td>
    <td>{{tgl_serah_terima}}</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>Jumlah PSU Yang Diserahkan</td>
    <td>:</td>
    <td>{{jumlah_psu}}</td>
  </tr>
  <tr>
    <td>Tanggal Serah Terima</td>
    <td>:</td>
    <td>{{keterangan}}</td>
  </tr>
  <tr>
    <td colspan="4"><a routerLink="../../../pages/psu-kawasan-perumahan/detail-data-perumahan"
                       [state]="detailPerumahan"
                       (click)="close($event)"><b>Selengkapnya...</b></a></td>
  </tr>
  </tbody>
</table>
