<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Input Data User</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <label for="idUser" class="label col-sm-3 col-form-label">ID. User</label>
            <div class="col-sm-9">
              <input type="text" nbInput  id="idUser" name="idUser" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label for="namaTaman" class="label col-sm-3 col-form-label">Username</label>
            <div class="col-sm-9">
              <input type="text" nbInput  placeholder="Username"
                     id="namaTaman" name="namaTaman">
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="label col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="password" nbInput placeholder="Password"
                     id="password" name="password">
            </div>
          </div>

          <div class="form-group row">
            <label for="password" class="label col-sm-3 col-form-label">Level User</label>
            <div class="col-sm-9">
              <nb-select placeholder="Level User" class="select-level-user" name="kabupaten">
                <nb-option *ngFor="let selectLevelUser of levelUser"
                           value="{{selectLevelUser}}">{{selectLevelUser}}</nb-option>
              </nb-select>&nbsp;&nbsp;
            </div>
          </div>

          <div class="form-group row">
            <label for="password" class="label col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
              <button nbButton status="primary" nbButton size="small" class="btn-import">
                <nb-icon icon="save-outline" pack="eva"></nb-icon>
                Simpan
              </button>
            </div>
          </div>

        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
