<nb-card>
  <nb-card-header class="text-center">
    <h4>{{ this.state.dataDetailPertamanan.nama_taman}}</h4>
  </nb-card-header>
  <nb-card-body>
    <div class="row show-grid">
      <div class="col-4 col-sm-4">
        <div><label>Nama Pelaksana</label></div>
        <div><label>Luas Taman (m2)</label></div>
        <div><label>Tahun Dibangun</label></div>
        <div><label>Lokasi</label></div>
      </div>
      <div class="col-6 col-md-6 spasi">
        <div>: <label>{{this.state.dataDetailPertamanan.nama_pelaksana}}</label></div>
        <div>: <label>{{this.state.dataDetailPertamanan.luas_taman}}</label></div>
        <div>: <label>{{this.state.dataDetailPertamanan.tahun_dibangun}}</label></div>
        <div>: <label>{{this.state.dataDetailPertamanan.kecamatan}},
          {{this.state.dataDetailPertamanan.kelurahan}}, RT.
          {{this.state.dataDetailPertamanan.RT}} /
          RW. {{this.state.dataDetailPertamanan.RW}}</label></div>
      </div>
    </div>
    <strong><label>Petugas Pemelihara </label></strong>
    <table class="table table-sm table-bordered">
      <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama</th>
        <th scope="col">Umur</th>
        <th scope="col">Pendidikan Terakhir</th>
        <th scope="col">Tugas</th>
        <th scope="col">Keterangan</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let petugasPemelihara of this.state.dataDetailPertamanan.petugas">
        <th scope="row">{{petugasPemelihara.id}}</th>
        <td>{{petugasPemelihara.nama}}</td>
        <td>{{petugasPemelihara.umur}}</td>
        <td>{{petugasPemelihara.pendidikan_terakhir}}</td>
        <td>{{petugasPemelihara.tugas}}</td>
        <td>{{petugasPemelihara.keterangan}}</td>
      </tr>

      </tbody>
    </table>

    <strong><label>Foto Taman</label></strong>
    <table class="table table table-sm table-bordered">
      <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama Foto</th>
        <th scope="col">Gambar Foto</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dataFotoTaman of this.state.dataDetailPertamanan.foto_taman">
        <th scope="row">{{dataFotoTaman.id}}</th>
        <td>{{dataFotoTaman.nama_foto}}</td>
        <td><img src="{{dataFotoTaman.path_foto}}" class="rounded"></td>
      </tr>
      </tbody>
    </table>

    <strong><label>Peralatan Pemelihara</label></strong>
    <table class="table table table-sm table-bordered">
      <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Jenis / Nama Alat</th>
        <th scope="col">Jumlah</th>
        <th scope="col">Merk / Tipe</th>
        <th scope="col">Tahun Perolehan</th>
        <th scope="col">Kondisi</th>
        <th scope="col">Keterangan</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let dataPeralatan of this.state.dataDetailPertamanan.peralatan_pemelihara">
        <th scope="row">{{dataPeralatan.id}}</th>
        <td>{{dataPeralatan.nama_alat}}</td>
        <td>{{dataPeralatan.jumlah}}</td>
        <td>{{dataPeralatan.merk}}</td>
        <td>{{dataPeralatan.tahun_diperoleh}}</td>
        <td>{{dataPeralatan.kondisi}}</td>
        <td>{{dataPeralatan.keterangan}}</td>
      </tr>
      </tbody>
    </table>

    <strong><label>Softscape</label></strong>
    <table class="table table table-sm table-bordered">
      <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Jenis / Nama Alat</th>
        <th scope="col">Jumlah</th>
        <th scope="col">Merk / Tipe</th>
        <th scope="col">Tahun Perolehan</th>
        <th scope="col">Kondisi</th>
        <th scope="col">Keterangan</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dataSoftscape of this.state.dataDetailPertamanan.softscape">
        <th scope="row">{{dataSoftscape.id}}</th>
        <td>{{dataSoftscape.nama_alat}}</td>
        <td>{{dataSoftscape.jumlah}}</td>
        <td>{{dataSoftscape.merk}}</td>
        <td>{{dataSoftscape.tahun_perolehan}}</td>
        <td>{{dataSoftscape.kondisi}}</td>
        <td>{{dataSoftscape.keterangan}}</td>
      </tr>
      </tbody>
    </table>

    <strong><label>Hardscape</label></strong>
    <table class="table table table-sm table-bordered">
      <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Jenis / Nama Alat</th>
        <th scope="col">Jumlah</th>
        <th scope="col">Merk / Tipe</th>
        <th scope="col">Tahun Perolehan</th>
        <th scope="col">Kondisi</th>
        <th scope="col">Keterangan</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dataHardscape of this.state.dataDetailPertamanan.hardscape">
        <th scope="row">{{dataHardscape.id}}</th>
        <td>{{dataHardscape.nama_alat}}</td>
        <td>{{dataHardscape.jumlah}}</td>
        <td>{{dataHardscape.merk}}</td>
        <td>{{dataHardscape.tahun_diperoleh}}</td>
        <td>{{dataHardscape.kondisi}}</td>
        <td>{{dataHardscape.keterangan}}</td>
      </tr>
      </tbody>
    </table>

    <div class="row show-grid">
      <div class="col-4 col-sm-4">
        <div><label>Koordinat TPU</label></div>
      </div>
      <div class="col-6 col-md-6 spasi">
        <div>: <label>32° 18.385' U 122° 36.875' B</label></div>
      </div>
    </div>

    <strong><label>Data CCTV</label></strong>
    <table class="table table table-sm table-bordered">
      <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama CCTV</th>
        <th scope="col">IP Camera</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dataCCTV of this.state.dataDetailPertamanan.CCTV">
        <th scope="row">{{dataCCTV.id}}</th>
        <td>{{dataCCTV.nama_cctv}}</td>
        <td>{{dataCCTV.ip_cctv}}</td>
      </tr>
      </tbody>
    </table>

    <div class="row show-grid">
      <div class="col-2 col-sm-2">
        <div><label>Keterangan</label></div>
      </div>
      <div class="col-10 col-md-6 spasi">
        <div>: <label>{{this.state.dataDetailPertamanan.keterangan}}</label></div>
      </div>
    </div>
    <br>

    <a routerLink="../../../pages/psu-pertamanan/kelola-data-pertamanan" nbButton
       status="primary" nbButton size="small">
      <nb-icon icon="arrow-back-outline" pack="eva"></nb-icon>Kembali</a>
    <a routerLink="" nbButton
       status="success" nbButton size="small" class="btn-rata-kanan">
      <nb-icon icon="printer-outline" pack="eva"></nb-icon>Cetak</a>

  </nb-card-body>
</nb-card>


