<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Input Data Kawasan Perumahan </nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <label for="namaPerumahan" class="label col-sm-3 col-form-label">Nama Perumahan</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth placeholder="Nama Perumahan"
                     id="namaPerumahan" name="namaPerumahan">
            </div>

          </div>
          <div class="form-group row">
            <label for="namaPengembang" class="label col-sm-3 col-form-label">Nama Pengembang</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth placeholder="Nama Pengembang" id="namaPengembang"
                     name="namaPengembang">
            </div>

          </div>
          <div class="form-group row">
            <label for="luasPerumahan" class="label col-sm-3 col-form-label">Luas Perumahan</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth  placeholder="Luas Perumahan" id="luasPerumahan"
                     name="luasPerumahan">
            </div>
          </div>

          <div class="form-group row">
            <label for="fotoPerumahan" class="label col-sm-3 col-form-label">Foto Perumahan</label>
            <div class="col-sm-9">
              <input type="file" nbInput placeholder="Foto Perumahan" id="fotoPerumahan">
            </div>
          </div>

          <div class="form-group row">
            <label for="lokasi" class="label col-sm-3 col-form-label">Lokasi</label>
            <div class="col-sm-9">
              <nb-select placeholder="Kecamatan" class="select-kecamatan" name="kecamatan"
                         id="lokasi">
                <nb-option value="Bojong  Gede">Bojong Gede</nb-option>
                <nb-option value="Caringin">Caringin</nb-option>
                <nb-option value="Cariu">Cariu</nb-option>
                <nb-option value="Ciampea">Ciampea</nb-option>
                <nb-option value="Ciawi">Ciawi</nb-option>
                <nb-option value="Ciampea">Ciampea</nb-option>
                <nb-option value="Cibinong">Cibinong</nb-option>
              </nb-select>&nbsp;&nbsp;
              <nb-select placeholder="Kelurahan" class="select-kelurahan" name="keluarahan"
                         id="lokasi">
                <nb-option value="Babakan">Babakan</nb-option>
                <nb-option value="MadangBojong">MadangBojong</nb-option>
                <nb-option value="Koneng Cijayanti">Koneng Cijayanti</nb-option>
                <nb-option value="Cipambuan">Cipambuan</nb-option>
                <nb-option value="Citaringgul">Citaringgul</nb-option>
                <nb-option value="Kadumangu Karang">Kadumangu Karang</nb-option>
                <nb-option value="Tengah Sentul Sumur">Tengah Sentul Sumur</nb-option>
              </nb-select>&nbsp;&nbsp;
              <input type="text" nbInput placeholder ="RT" name="rt" class="text-rt-rw" name="rt"
                     id="lokasi">
              &nbsp;&nbsp;
              <input type="text" nbInput placeholder="RW" name="rw" class="text-rt-rw" name="rw"
                     id="lokasi">
            </div>
          </div>
          <div class="form-group row">
            <label class="label col-sm-12 col-form-label label-border">Status : Sudah Serah
              Terima</label>
          </div>


          <div class="form-group row">
            <label for="tanggalSerahTerima" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Tanggal Serah
              Terima</label>
            <div class="col-sm-9">
              <input nbInput placeholder="Tanggal Serah Terima" [nbDatepicker]="formpicker"
                     name="tanggalSerahTerima" id="tanggalSerahTerima">
              <nb-datepicker #formpicker></nb-datepicker>
            </div>
          </div>
          <div class="form-group row">
            <label for="noBeritaAcaraSerahTerima"
                   class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;No. Berita Acara Serah Terima
            </label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth placeholder="No. Berita Acara Serah Terima"
                     name="noBeritaAcaraSerahTerima" id="noBeritaAcaraSerahTerima">
            </div>
          </div>
          <div class="form-group row">
            <label for="sph" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;SPH<br>
              &nbsp;&nbsp;&nbsp;&nbsp;(Surat Pengakuan Hak)
            </label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth placeholder="Surat Pengakuan Hak" id="sph" name="sph">
            </div>
          </div>
          <div class="form-group row">
            <label class="label col-sm-12 col-form-label label-border" >PSU Yang Diserahkan</label>
          </div>

          <div class="form-group row">
            <label for="namaSaranaPSU" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Nama Sarana</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="namaSaranaPSU" placeholder="Nama Sarana"
                     name="namaSaranaPSU">
            </div>
          </div>

          <div class="form-group row">
            <label for="luasSaranaPSU" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Luas Sarana</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth  placeholder="Luas Sarana" id="luasSaranaPSU"
                     nama="namaSaranaPSU">
            </div>
          </div>

          <div class="form-group row">
            <label for="fotoSaranaPSU" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Foto Sarana</label>
            <div class="col-sm-9">
              <input type="file" nbInput placeholder="Foto Sarana" name="fotoSaranaPSU"
                     id="fotoSaranaPSU">
            </div>
          </div>
          <div class="form-group row">
            <label for="kondisiSaranaPSU" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Konsidi
              Sarana</label>
            <div class="col-sm-9">
              <nb-select placeholder="Kondisi Dalam Keadaan..." class="select-kondisi"
                         name="kondisiSaranaPSU" id="kondisiSaranaPSU">
                <nb-option value="Baik">Baik</nb-option>
                <nb-option value="Ringan">Ringan</nb-option>
                <nb-option value="Rusak Berat">Rusak Berat</nb-option>
              </nb-select>&nbsp;&nbsp;
            </div>
          </div>
          <div class="form-group row">
            <label for="koordinatPSU" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Koordinat<br>
              &nbsp;&nbsp;&nbsp;&nbsp;(Poin Polygon Polyline)</label>
            <div class="col-sm-9">
              <input type="password" nbInput fullWidth placeholder="KoordinatPSU" id="koordinatPSU">
            </div>
          </div>
          <div class="form-group row">
            <label class="label col-sm-12 col-form-label label-border">Jalan Dan Saluran</label>
          </div>
          <div class="form-group row">
            <label for="namaJalanSaluran" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Nama Jalan dan
            Saluran</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="namaJalanSaluran"
                     placeholder="Nama Jalan dan Saluran" name="namajalanSaluran">
            </div>
          </div>
          <div class="form-group row">
            <label for="luasJalanSaluran" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Luas Jalan dan
            Saluran</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="luasJalanSaluran"
                     placeholder="Luas Jalan dan Saluran">
            </div>
          </div>
          <div class="form-group row">
            <label for="fotoJalanSaluran" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Foto Jalan dan
            Saluran</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="fotoJalanSaluran"
                     placeholder="Password" name="fotoJalanSaluran">
            </div>
          </div>
          <div class="form-group row">
            <label for="kondisiJalanSaluran" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Kondisi Jalan dan Saluran</label>
            <div class="col-sm-9">
              <nb-select placeholder="Kondisi Dalam Keadaan..." class="select-kondisi"
                         name="kondisiJalanSaluran" id="kondisiJalanSaluran">
                <nb-option value="Baik">Baik</nb-option>
                <nb-option value="Ringan">Ringan</nb-option>
                <nb-option value="Rusak Berat">Rusak Berat</nb-option>
              </nb-select>&nbsp;&nbsp;
            </div>
          </div>
          <div class="form-group row">
            <label for="koordinatJalanSaluran" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Koordinat<br>
              &nbsp;&nbsp;&nbsp;&nbsp;(Poin Polygon Polyline)</label>
            <div class="col-sm-9">
              <input type="password" nbInput fullWidth
                     placeholder="Koordinat (Poin Polygon Polyline)" id="koordinatJalanSaluran">
            </div>
          </div>

          <div class="form-group row">
            <label class="label col-sm-12 col-form-label label-border">Taman</label>
          </div>

          <div class="form-group row">
            <label for="namaTaman" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Nama Taman</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth placeholder="Nama Taman" name="namaTaman"
                     id="namaTaman">
            </div>
          </div>

          <div class="form-group row">
            <label for="luasTaman" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Luas Taman</label>
            <div class="col-sm-9">
              <input type="password" nbInput fullWidth placeholder="Luas Taman" name="luasTaman"
                     id="luasTaman">
            </div>
          </div>

          <div class="form-group row">
            <label for="fotoTaman" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Foto Taman</label>
            <div class="col-sm-9">
              <input type="file" nbInput placeholder="Foto Taman" id="fotoTaman" name="fotoTaman">
            </div>
          </div>

          <div class="form-group row">
            <label for="kondisiTaman" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Kondisi Taman</label>
            <div class="col-sm-9">
              <nb-select placeholder="Kondisi Dalam Keadaan..." class="select-kondisi"
                         id="kondisiTaman" name="kondisiTaman">
                <nb-option value="Baik">Baik</nb-option>
                <nb-option value="Ringan">Ringan</nb-option>
                <nb-option value="Rusak Berat">Rusak Berat</nb-option>
              </nb-select>&nbsp;&nbsp;
            </div>
          </div>

          <div class="form-group row">
            <label for="koordinatTaman"
                   class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Koordinat<br>
              &nbsp;&nbsp;&nbsp;&nbsp;(Poin Polygon Polyline)</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth placeholder="Koordinat
              (Poin Polygon Polyline)" id="koordinatTaman" name="koordinatTaman">
            </div>
          </div>

          <div class="form-group row">
            <label class="label col-sm-3 col-form-label">Belum Serah Terima</label>
          </div>

          <div class="form-group row">
            <label for="keteranganBelumSerahTerima" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Keterangan
            </label>
            <div class="col-sm-9">
              <textarea rows="5" nbInput fullWidth shape="round"
                        placeholder="Keterangan Belum Serah Terima"
                        name="keteranganBelumSerahTerima" id="keteranganBelumSerahTerima"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label class="label col-sm-3 col-form-label">Terlantar</label>
          </div>

          <div class="form-group row">
            <label for="keteranganTerlantar" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Keterangan
            </label>
            <div class="col-sm-9">
              <textarea rows="5" nbInput fullWidth shape="round"
                        placeholder="Keterangan Terlantar"
                        id="keteranganTerlantar" name="keteranganTerlantar"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label for="koordinatPerumahan"
                   class="label col-sm-3 col-form-label">Koordinat Perumahan</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth placeholder="Koordinat Perumahan"
                     id="koordinatPerumahan" name="koordinatPerumahan">
            </div>
          </div>

          <div class="form-group row">
            <label class="label col-sm-3 col-form-label">CCTV</label>
          </div>

          <div class="form-group row">
            <label for="namaCCTVPerumahan"
                   class="label col-sm-3 col-form-label"> &nbsp;&nbsp;&nbsp;&nbsp;Nama CCTV Perumahan</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth placeholder="Nama CCTV Perumahan"
                     id="namaCCTVPerumahan" name="namaCCTVPerumahan">
            </div>
          </div>

          <div class="form-group row">
            <label for="ipCameraPerumahan"
                   class="label col-sm-3 col-form-label"> &nbsp;&nbsp;&nbsp;&nbsp;IP Camera</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth placeholder="IP Camera"
                     id="ipCameraPerumahan" name="ipCameraPerumahan">
            </div>
          </div>

          <div class="form-group row">
            <label for="keteranganPerumahan" class="label col-sm-3 col-form-label">Keterangan
            </label>
            <div class="col-sm-9">
              <textarea rows="5" nbInput fullWidth shape="round"
                        placeholder="Keterangan Perumahan"
                        id="keteranganPerumahan" name="keteranganPerumahan"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" nbButton status="success">Input</button>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <button type="submit" nbButton status="danger">Batal</button>
            </div>
          </div>


        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
