<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Input Data Kawasan Perumahan</nb-card-header>
      <nb-card-body>
        <nb-alert *ngIf="submitted" outline="success">Sukses tambah data</nb-alert>
        <form [formGroup]="formPerumahan" (ngSubmit)="inputDataPerumahans()">
          <div formGroupName="formDataPerumahan">
            <div class="form-group row">
              <label for="namaPerumahan" class="label col-sm-3 col-form-label">Nama
                Perumahan</label>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth placeholder="Nama Perumahan"
                       id="namaPerumahan" name="namaPerumahan" formControlName="nama_perumahan"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.nama_perumahan.errors }">
                <div *ngIf="submitted && f.nama_perumahan.errors" class="invalid-feedback">
                  <div *ngIf="f.nama_perumahan.errors.required">Masukan Nama Perumahan</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="namaPengembang" class="label col-sm-3 col-form-label">Nama
                Pengembang</label>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth placeholder="Nama Pengembang"
                       id="namaPengembang"
                       name="namaPengembang" formControlName="nama_pengembang"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.nama_pengembang.errors }">
                <div *ngIf="submitted && f.nama_pengembang.errors" class="invalid-feedback">
                  <div *ngIf="f.nama_pengembang.errors.required">Masukan Nama Pengembang</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="luasPerumahan" class="label col-sm-3 col-form-label">Luas Perumahan
                (m2)</label>
              <div class="col-sm-9">
                <input type="text" nbInput placeholder="Luas Perumahan" id="luasPerumahan"
                       name="luasPerumahan" formControlName="luas_perumahan"
                       class="form-control size-input"
                       [ngClass]="{ 'is-invalid': submitted && f.luas_perumahan.errors }">
                <div *ngIf="submitted && f.luas_perumahan.errors" class="invalid-feedback">
                  <div *ngIf="f.luas_perumahan.errors.required">Masukan Luas Perumahan</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="jumlah_perumahan" class="label col-sm-3 col-form-label">Jumlah Perumahan
              </label>
              <div class="col-sm-9">
                <input type="number" nbInput placeholder="Jumlah Perumahan" id="jumlah_perumahan"
                       name="jumlah_perumahan" formControlName="jumlah_rumah"
                       class="form-control size-input"
                       [ngClass]="{ 'is-invalid': submitted && f.jumlah_rumah.errors }">
                <div *ngIf="submitted && f.jumlah_rumah.errors" class="invalid-feedback">
                  <div *ngIf="f.jumlah_rumah.errors.required">Masukan Luas Perumahan</div>
                </div>
              </div>
            </div>

            <div class="form-group row" formArrayName="fotos">
              <label for="fotoPerumahan" class="label col-sm-3 col-form-label">Foto
                Perumahan</label>
              <div class="col-sm-9">
                <input type="file" (change)="onFileUpload($event)" name="fotos" multiple
                       placeholder="Foto Perumahan" id="fotoPerumahan" nbInput>
              </div>
              <div *ngFor="let foto of
              formPerumahan.controls.formDataPerumahan['controls']['fotos']['controls']; let fot =
              index">
                <div [formGroupName]="fot">
                  <div class="col-sm-3">
                    <br>
                    <img [src]="foto.value.path_foto" [alt]="foto.value.nama_foto"
                         width="220" height="150" *ngIf="foto.value.nama_foto"><br>
                    <label *ngIf="foto.value.path_foto"><br>
                      <input formControlName="nama_foto" placeholder="nama foto" type="text"
                             nbInput>
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="fotoPerumahan" class="label col-sm-3 col-form-label"></label>
              </div>
            </div>

            <div class="form-group row">
              <label class="label col-sm-3 col-form-label">Lokasi</label>
              <div class="col-sm-9">
                <nb-select placeholder="Kecamatan" name="kecamatan"
                           (selectedChange)="changeKecamatan($event)" formControlName="kecamatan"
                           class="select-kecamatan">
                  <nb-option *ngFor="let dataKecamatan of kecamatan"
                             value="{{dataKecamatan['kecamatan']}}">{{dataKecamatan['kecamatan']}}
                  </nb-option>
                </nb-select>
                &nbsp;&nbsp;

                <nb-select placeholder="Kelurahan" class="select-kecamatan" name="kelurahan"
                           formControlName="kelurahan"
                           (change)="changeKelurahan($event)" [disabled]="disableKelurahan">
                  <nb-option *ngFor="let dataKelurahan of kelurahan"
                             value="{{dataKelurahan['namaKelurahan']}}">{{dataKelurahan['namaKelurahan']}}</nb-option>
                </nb-select>&nbsp;&nbsp;

                <input type="text" nbInput placeholder="RT" name="rt" class="text-rt-rw" name="rt"
                       formControlName="RT">
                &nbsp;&nbsp;
                <input type="text" nbInput placeholder="RW" name="rw" class="text-rt-rw" name="rw"
                       formControlName="RW">
              </div>
            </div>

            <!-- kordinat perumahan -->
            <div class="form-group row">
              <label for="longitudePerumahan"
                     class="label col-sm-3 col-form-label">Koordinat Perumahan</label>
              <div class="col-sm-9" formArrayName="koordinats">
                <div *ngFor="let dataRumah of
              formPerumahan.controls.formDataPerumahan['controls']['koordinats']['controls'];
              let u = index" [formGroupName]="u">
                  <input type="text" nbInput placeholder="Longitude" id="longitudePerumahan"
                         name="longitude" formControlName="longitude"
                         class="form-control"
                         [ngClass]="{ 'is-invalid': submitted &&
                         dataRumah['controls'].longitude.errors }">
                  <div *ngIf="submitted &&
                    dataRumah['controls'].longitude.errors"
                       class="invalid-feedback">
                    <div *ngIf="dataRumah['controls'].longitude.errors.required">Masukan Koordinat Longitude</div>
                  </div>,&nbsp;&nbsp;


                  <input type="text" nbInput placeholder="Latitude" id="latitidePerumahan"
                         name="latitude" formControlName="latitude" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted &&
                         dataRumah['controls'].latitude.errors }">
                  <div *ngIf="submitted &&
                    dataRumah['controls'].latitude.errors"
                       class="invalid-feedback">
                    <div *ngIf="dataRumah['controls'].latitude.errors.required">Masukan Koordinat Latitude</div>
                  </div>

                  <button type="button" nbButton status="success" nbButton size="tiny"
                          class="btn-hapus"
                          (click)="addDataKoordinatPerumahan()">
                    <nb-icon icon="plus-circle-outline" pack="eva"></nb-icon>
                  </button>
                  <button type="button" nbButton status="danger" nbButton size="tiny"
                          class="btn-hapus" (click)="removeKoordinatPerumahan(u)">
                    <nb-icon icon="close-circle-outline" pack="eva"></nb-icon>
                  </button>

                </div>
              </div>
            </div>


            <!-- keterangan perumahan -->
            <div class="form-group row">
              <label for="keteranganPerumahan" class="label col-sm-3 col-form-label">Keterangan
              </label>
              <div class="col-sm-9">
              <textarea rows="5" nbInput fullWidth shape="round"
                        placeholder="Keterangan Perumahan"
                        id="keteranganPerumahan" name="keteranganPerumahan"
                        formControlName="keterangan"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.keterangan.errors }">
               </textarea>
                <div *ngIf="submitted && f.keterangan.errors" class="invalid-feedback">
                  <div *ngIf="f.keterangan.errors.required">Keterangan Perumahan</div>
                </div>
              </div>
            </div>

            <!-- status perumahan -->
            <div class="form-group row">
              <label for="status"
                     class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Status</label>
              <div class="col-sm-9">
                <nb-select (selectedChange)="onSelectOption($event)" placeholder="Status"
                           name="status" id="status" formControlName="status"
                           class="form-control select-status"
                           [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                  <nb-option *ngFor="let pilih_status of statusSelect"
                             value="{{pilih_status}}">{{pilih_status}}
                  </nb-option>
                </nb-select>&nbsp;&nbsp;
                <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                  <div *ngIf="f.status.errors.required">Pilih Status</div>
                </div>
              </div>
            </div>




            <div class="form-group row" *ngIf="statusSerahTerima">
              <label for="tanggalSerahTerima" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Tanggal
                Serah
                Terima</label>
              <div class="col-sm-9">
                <input nbInput placeholder="Tanggal Serah Terima" [nbDatepicker]="formpicker"
                       name="tanggalSerahTerima" id="tanggalSerahTerima" class="form-control"
                       formControlName="tgl_serah_terima"
                       [ngClass]="{ 'is-invalid': submitted && f.tgl_serah_terima.errors }">
                <nb-datepicker #formpicker></nb-datepicker>
                <div *ngIf="submitted && f.tgl_serah_terima.errors" class="invalid-feedback">
                  <div *ngIf="f.tgl_serah_terima.errors.required">Masukan Tanggal Serah Terima</div>
                </div>
              </div>
            </div>


            <div class="form-group row" *ngIf="statusSerahTerima">
              <label for="noBeritaAcaraSerahTerima"
                     class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;No. Berita Acara
                Serah Terima
              </label>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth placeholder="No. Berita Acara Serah Terima"
                       name="noBeritaAcaraSerahTerima" id="noBeritaAcaraSerahTerima"
                       formControlName="no_bast" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.no_bast.errors }">
                <div *ngIf="submitted && f.no_bast.errors" class="invalid-feedback">
                  <div *ngIf="f.no_bast.errors.required">Masukan No. Berita Acara Serah Terima</div>
                </div>
              </div>
            </div>


            <div class="form-group row" *ngIf="statusSerahTerima">
              <label for="sph" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;SPH<br>
                &nbsp;&nbsp;&nbsp;&nbsp;(Surat Pengakuan Hak)
              </label>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth placeholder="Surat Pengakuan Hak" id="sph"
                       name="sph" formControlName="sph" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.sph.errors }">
                <div *ngIf="submitted && f.sph.errors" class="invalid-feedback">
                  <div *ngIf="f.sph.errors.required">Surat Pengakuan Hak</div>
                </div>
              </div>

            </div>

            <!-- PSU YANG DISERAHKAN  sarana -->
            <div class="form-group row" *ngIf="statusSerahTerima">
              <label class="label col-sm-12 col-form-label label-border">Data Sarana</label>
            </div>
            <div formArrayName="saranas">
              <div *ngFor="let dataSarana of
              this.formPerumahan.controls.formDataPerumahan['controls']['saranas']['controls']; let
               j =
              index"
                   [formGroupName]="j">
                <h3 *ngIf="statusSerahTerima">Data Ke-{{j + 1}}</h3>
                <div class="form-group row" *ngIf="statusSerahTerima">
                  <label for="namaSaranaPSU" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Nama
                    Sarana</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth id="namaSaranaPSU"
                           placeholder="Nama Sarana"
                           name="namaSaranaPSU" formControlName="nama_sarana"
                           class="form-control"
                           [ngClass]="{ 'is-invalid': submitted &&
                           dataSarana['controls'].nama_sarana.errors }"
                    >
                    <div *ngIf="submitted &&
                    dataSarana['controls'].nama_sarana.errors"
                         class="invalid-feedback">
                      <div
                          *ngIf="dataSarana['controls'].nama_sarana.errors.required">Masukan Nama
                        Sarana
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row" *ngIf="statusSerahTerima">
                  <label for="luasSaranaPSU" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Luas
                    Sarana</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth placeholder="Luas Sarana"
                           id="luasSaranaPSU"
                           name="luasSaranaPSU" formControlName="luas_sarana"
                           [ngClass]="{ 'is-invalid': submitted &&
                           dataSarana['controls'].luas_sarana.errors }" class="form-control">
                    <div *ngIf="submitted && dataSarana['controls'].luas_sarana.errors"
                         class="invalid-feedback">
                      <div
                          *ngIf="dataSarana['controls'].luas_sarana.errors.required">Masukan Luas
                        Sarana
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row" *ngIf="statusSerahTerima">
                  <label for="fotoSaranaPSU" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Foto
                    Sarana</label>
                  <div class="col-sm-9">
                    <input type="file" nbInput placeholder="Foto Sarana" name="fotoSaranaPSU"
                           id="fotoSaranaPSU" formControlName="foto_sarana">
                  </div>
                </div>
                <div class="form-group row" *ngIf="statusSerahTerima">
                  <label for="kondisiSaranaPSU"
                         class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Kondisi
                    Sarana</label>
                  <div class="col-sm-9">
                    <nb-select placeholder="Kondisi Dalam Keadaan..." class="form-control"
                               name="kondisiSaranaPSU" id="kondisiSaranaPSU"
                               formControlName="kondisi_sarana"
                               [ngClass]="{ 'is-invalid': submitted &&
                           dataSarana['controls'].kondisi_sarana.errors }"
                    >
                      <nb-option value="Baik">Baik</nb-option>
                      <nb-option value="Ringan">Ringan</nb-option>
                      <nb-option value="Rusak Berat">Rusak Berat</nb-option>
                    </nb-select>&nbsp;&nbsp;
                    <div *ngIf="submitted &&
                    dataSarana['controls'].kondisi_sarana.errors"
                         class="invalid-feedback">
                      <div
                          *ngIf="dataSarana['controls'].kondisi_sarana.errors.required">Masukan
                        Kondisi
                        Sarana
                      </div>
                    </div>
                  </div>
                </div>

                <!--------------- Koordinat Sarana ------------------ Korrdinat Sarana --------------------------->

                <div class="form-group row" *ngIf="statusSerahTerima">
                  <label class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Koordinat<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;(Poin Polygon Polyline)</label>
                  <div class="col-sm-9" formArrayName="koordinat">
                    <div *ngFor="let dataSarana of this.koordinatSaranas; let
                           j = index" [formGroupName]="j">
                      <input type="text" nbInput placeholder="Longitude" id="longitudesarana"
                             name="longitude" formControlName="longitude"
                             [ngClass]="{ 'is-invalid': submitted &&
                           dataSarana['controls'].longitude.errors }" class="form-control">
                      <div *ngIf="submitted &&
                    dataSarana['controls'].longitude.errors"
                           class="invalid-feedback">
                        <div
                            *ngIf="dataSarana['controls'].longitude.errors.required">Masukan
                          Longitude
                          Sarana
                        </div>
                      </div>
                      ,&nbsp;&nbsp;
                      <input type="text" nbInput placeholder="Latitude" id="latitudesarana"
                             name="latitude" formControlName="latitude"
                             [ngClass]="{ 'is-invalid': submitted &&
                           dataSarana['controls'].latitude.errors }" class="form-control">
                      <div *ngIf="submitted &&
                    dataSarana['controls'].latitude.errors"
                           class="invalid-feedback">
                        <div
                            *ngIf="dataSarana['controls'].latitude.errors.required">Masukan
                          Latitude
                          Sarana
                        </div>
                      </div>


                      <button type="button" nbButton status="success" nbButton size="tiny"
                              class="btn-hapus"
                              (click)="addDataKoordinatSarana()">
                        <nb-icon icon="plus-circle-outline" pack="eva"></nb-icon>
                      </button>
                      <button type="button" nbButton status="danger" nbButton size="tiny"
                              class="btn-hapus" (click)="removeKoordinatSarana(j)">
                        <nb-icon icon="close-circle-outline" pack="eva"></nb-icon>
                      </button>

                    </div>
                  </div>
                </div>
                <div class="form-group row" *ngIf="statusSerahTerima">
                  <label class="label col-sm-3 col-form-label"></label>
                  <div class="col-sm-9">
                    <button type="button" nbButton status="success" nbButton size="tiny"
                            class="btn-hapus"
                            (click)="addDataSarana()">
                      <nb-icon icon="plus-circle-outline" pack="eva"></nb-icon>
                      Tambah Data
                    </button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" nbButton status="danger" nbButton size="tiny"
                            class="btn-hapus" (click)="removeDataSarana(j)">
                      <nb-icon icon="close-circle-outline" pack="eva"></nb-icon>
                      Hapus Data
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!------------------ Jalan dan Saluran --------------------------->
            <div class="form-group row" *ngIf="statusSerahTerima">
              <label class="label col-sm-12 col-form-label label-border">Jalan Dan Saluran</label>
            </div>


            <div formArrayName="jalansalurans">
              <div *ngFor="let dataJalanSaluran of formPerumahan.controls.formDataPerumahan['controls']['jalansalurans']['controls'];
              let k = index" [formGroupName]="k">

                <h3 *ngIf="statusSerahTerima">Data Ke-{{k + 1}}</h3>

                <div class="form-group row" *ngIf="statusSerahTerima">
                  <label for="namaJalanSaluran" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Nama
                    Jalan dan
                    Saluran</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth id="namaJalanSaluran"
                           placeholder="Nama Jalan dan Saluran" name="namajalanSaluran"
                           formControlName="nama_jalan_saluran"
                           [ngClass]="{ 'is-invalid': submitted &&
                           dataJalanSaluran['controls'].nama_jalan_saluran.errors }"
                           class="form-control">
                    <div *ngIf="submitted &&
                    dataJalanSaluran['controls'].nama_jalan_saluran.errors"
                         class="invalid-feedback">
                      <div
                          *ngIf="dataJalanSaluran['controls'].nama_jalan_saluran.errors.required">
                        Masukan
                        Nama Jalan Saluran
                      </div>
                    </div>
                  </div>
                </div>


                <div class="form-group row" *ngIf="statusSerahTerima">
                  <label for="luasJalanSaluran" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Luas
                    Jalan dan
                    Saluran</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth id="luasJalanSaluran"
                           placeholder="Luas Jalan dan Saluran"
                           formControlName="luas_jalan_saluran"
                           [ngClass]="{ 'is-invalid': submitted &&
                           dataJalanSaluran['controls'].luas_jalan_saluran.errors }"
                           class="form-control">
                    <div *ngIf="submitted && dataJalanSaluran['controls'].luas_jalan_saluran.errors"
                         class="invalid-feedback">
                      <div *ngIf="dataJalanSaluran['controls'].luas_jalan_saluran.errors.required">
                        Masukan
                        Luas Jalan Saluran
                      </div>
                    </div>
                  </div>
                </div>


                <div class="form-group row" *ngIf="statusSerahTerima">
                  <label for="fotoJalanSaluran" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Foto
                    Jalan dan Saluran</label>
                  <div class="col-sm-9">
                    <input type="file" nbInput id="fotoJalanSaluran"
                           placeholder="Foto Jalan dan Saluran" name="fotoJalanSaluran"
                           formControlName="foto_jalan_saluran"
                           [ngClass]="{ 'is-invalid': submitted &&
                           dataJalanSaluran['controls'].foto_jalan_saluran.errors }"
                           class="form-control">
                    <div *ngIf="submitted && dataJalanSaluran['controls'].foto_jalan_saluran.errors"
                         class="invalid-feedback">
                      <div *ngIf="dataJalanSaluran['controls'].foto_jalan_saluran.errors.required">
                        Masukan Foto Jalan Saluran
                      </div>
                    </div>
                  </div>
                </div>


                <div class="form-group row" *ngIf="statusSerahTerima">
                  <label for="kondisiJalanSaluran" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Kondisi
                    Jalan dan Saluran</label>
                  <div class="col-sm-9">
                    <nb-select placeholder="Kondisi Dalam Keadaan..." class="select-kondisi"
                               name="kondisiJalanSaluran" id="kondisiJalanSaluran"
                               formControlName="kondisi" [ngClass]="{ 'is-invalid': submitted &&
                               dataJalanSaluran['controls'].kondisi.errors }"
                               class="form-control">
                      <nb-option value="Baik">Baik</nb-option>
                      <nb-option value="Ringan">Ringan</nb-option>
                      <nb-option value="Rusak Berat">Rusak Berat</nb-option>
                    </nb-select>&nbsp;&nbsp;
                    <div *ngIf="submitted && dataJalanSaluran['controls'].kondisi.errors"
                         class="invalid-feedback">
                      <div *ngIf="dataJalanSaluran['controls'].kondisi.errors.required">
                        Pilih Kondisi Jalan Saluran
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row" *ngIf="statusSerahTerima">
                  <label class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Koordinat<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;(Poin Polygon Polyline)</label>

                  <div class="col-sm-9" formArrayName="koordinatjalansalurans">
                    <div *ngFor="let dataJalanSaluran of this.koordinatJalanSalurans;
                         let n = index" [formGroupName]="n">
                      <input type="text" nbInput placeholder="Longitude" id="longitudejalansaluran"
                             name="longitude" formControlName="longitude"
                             [ngClass]="{ 'is-invalid': submitted &&
                               dataJalanSaluran['controls'].longitude.errors }"
                             class="form-control">,&nbsp;&nbsp;
                      <div *ngIf="submitted && dataJalanSaluran['controls'].longitude.errors"
                           class="invalid-feedback">
                        <div *ngIf="dataJalanSaluran['controls'].longitude.errors.required">
                          Masukan Koordinat Longitude
                        </div>
                      </div>


                      <input type="text" nbInput placeholder="Latitude" id="latitudejalansaluran"
                             name="latitude" formControlName="latitude"
                             [ngClass]="{ 'is-invalid': submitted &&
                               dataJalanSaluran['controls'].latitude.errors }"
                             class="form-control">
                      <div *ngIf="submitted && dataJalanSaluran['controls'].latitude.errors"
                           class="invalid-feedback">
                        <div *ngIf="dataJalanSaluran['controls'].latitude.errors.required">
                          Masukan Koordinat Latitude
                        </div>
                      </div>

                      <button type="button" status="success" nbButton size="tiny"
                              class="btn-hapus"
                              (click)="addDataKoordinatJalanSaluran()">
                        <nb-icon icon="plus-circle-outline" pack="eva"></nb-icon>
                      </button>
                      <button type="button" status="danger" nbButton size="tiny"
                              class="btn-hapus" (click)="removeKoordinatJalanSaluran(n)">
                        <nb-icon icon="close-circle-outline" pack="eva"></nb-icon>
                      </button>

                    </div>
                  </div>
                </div>
                <div class="form-group row" *ngIf="statusSerahTerima">
                  <label class="label col-sm-3 col-form-label"></label>
                  <div class="col-sm-9">
                    <button type="button" nbButton status="success" nbButton size="tiny"
                            class="btn-hapus"
                            (click)="addDataJalanSaluran()">
                      <nb-icon icon="plus-circle-outline" pack="eva"></nb-icon>
                      Tambah Data
                    </button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" nbButton status="danger" nbButton size="tiny"
                            class="btn-hapus" (click)="removeDataJalanSaluran(k)">
                      <nb-icon icon="close-circle-outline" pack="eva"></nb-icon>
                      Hapus Data
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!--Taman ---------------------- Taman ----------------- Taman ----------------------------->
            <div class="form-group row" *ngIf="statusSerahTerima">
              <label class="label col-sm-12 col-form-label label-border">Data Taman</label>
            </div>
            <div formArrayName="tamans">
              <div *ngFor="let dataTaman of
              formPerumahan.controls.formDataPerumahan['controls']['tamans'].controls; let n = index"
                   [formGroupName]="n">
                <h3 *ngIf="statusSerahTerima">Data Ke-{{n + 1}}</h3>
                <div class="form-group row" *ngIf="statusSerahTerima">
                  <label for="namaTaman" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Nama Taman</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth placeholder="Nama Taman" name="namaTaman"
                           id="namaTaman" formControlName="nama_taman"[ngClass]="{ 'is-invalid': submitted &&
                               dataTaman['controls'].nama_taman.errors }"
                           class="form-control">
                    <div *ngIf="submitted && dataTaman['controls'].nama_taman.errors"
                         class="invalid-feedback">
                      <div *ngIf="dataTaman['controls'].nama_taman.errors.required">
                        Masukan Nama Taman
                      </div>
                    </div>
                  </div>
                </div>



                <div class="form-group row" *ngIf="statusSerahTerima">
                  <label for="luasTaman" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Luas
                    Taman</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth placeholder="Luas Taman"
                           name="luasTaman"
                           id="luasTaman" formControlName="luas_taman"
                           [ngClass]="{ 'is-invalid': submitted &&
                            dataTaman['controls'].luas_taman.errors }"
                           class="form-control">
                    <div *ngIf="submitted && dataTaman['controls'].luas_taman.errors"
                         class="invalid-feedback">
                      <div *ngIf="dataTaman['controls'].luas_taman.errors.required">
                        Masukan Luas Taman
                      </div>
                    </div>
                  </div>
                </div>





                <div class="form-group row" *ngIf="statusSerahTerima">
                  <label for="fotoTaman" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Foto
                    Taman</label>
                  <div class="col-sm-9">
                    <input type="file" nbInput placeholder="Foto Taman" id="fotoTaman"
                           name="fotoTaman" formControlName="foto_taman">
                    <div *ngIf="submitted && dataTaman['controls'].foto_taman.errors"
                            [ngClass]="{ 'is-invalid': submitted &&
                            dataTaman['controls'].foto_taman.errors }"
                         class="form-control invalid-feedback">
                      <div *ngIf="dataTaman['controls'].foto_taman.errors.required">
                        Masukan Foto Taman
                      </div>
                    </div>
                  </div>
                </div>





                <div class="form-group row" *ngIf="statusSerahTerima">
                  <label for="kondisiTaman" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Kondisi
                    Taman</label>
                  <div class="col-sm-9">
                    <nb-select placeholder="Kondisi Dalam Keadaan..."
                               id="kondisiTaman" name="kondisiTaman"
                               formControlName="kondisi"
                               [ngClass]="{ 'is-invalid': submitted &&
                               dataTaman['controls'].foto_taman.errors }"
                               class="form-control select-kondisi">
                      <nb-option value="Baik">Baik</nb-option>
                      <nb-option value="Ringan">Ringan</nb-option>
                      <nb-option value="Rusak Berat">Rusak Berat</nb-option>
                    </nb-select>&nbsp;&nbsp;
                    <div *ngIf="submitted && dataTaman['controls'].kondisi.errors"
                         class="invalid-feedback">
                      <div *ngIf="dataTaman['controls'].kondisi.errors.required">
                        Masukan Luas Taman
                      </div>
                    </div>
                  </div>
                </div>




                <div class="form-group row" *ngIf="statusSerahTerima">
                  <label
                      class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Koordinat<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;(Poin Polygon Polyline)</label>
                  <div class="col-sm-9" formArrayName="koordinattamans">
                    <div *ngFor="let dataTaman of this.koordinatTamans;
                          let n = index" [formGroupName]="n">
                      <input type="text" nbInput placeholder="Longitude" id="longitudedatataman"
                             name="longitude" formControlName="longitude"
                             [ngClass]="{ 'is-invalid': submitted &&
                               dataTaman['controls'].longitude.errors }"
                             class="form-control">,&nbsp;&nbsp;

                      <div *ngIf="submitted && dataTaman['controls'].longitude.errors"
                           class="invalid-feedback">
                        <div *ngIf="dataTaman['controls'].longitude.errors.required">
                          Masukan Koordinat Longitude
                        </div>
                      </div>


                      <input type="text" nbInput placeholder="Latitude" id="latitudedatataman"
                             name="latitude" formControlName="latitude"
                             [ngClass]="{ 'is-invalid': submitted &&
                               dataTaman['controls'].latitude.errors }"
                             class="form-control">

                      <div *ngIf="submitted && dataTaman['controls'].longitude.errors"
                           class="invalid-feedback">
                        <div *ngIf="dataTaman['controls'].longitude.errors.required">
                          Masukan Koordinat Longitude
                        </div>
                      </div>


                      <button type="button" nbButton status="success" nbButton size="tiny"
                              class="btn-hapus"
                              (click)="addDataKoordinatTaman()">
                        <nb-icon icon="plus-circle-outline" pack="eva"></nb-icon>
                      </button>
                      <button type="button" nbButton status="danger" nbButton size="tiny"
                              class="btn-hapus" (click)="removeKoordinatTaman(n)">
                        <nb-icon icon="close-circle-outline" pack="eva"></nb-icon>
                      </button>
                    </div>
                  </div>
                </div>




                <div class="form-group row" *ngIf="statusSerahTerima">
                  <label class="label col-sm-3 col-form-label"></label>
                  <div class="col-sm-9">
                    <button type="button" nbButton status="success" nbButton size="tiny"
                            class="btn-hapus"
                            (click)="addDataTaman()">
                      <nb-icon icon="plus-circle-outline" pack="eva"></nb-icon>
                      Tambah Data
                    </button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" nbButton status="danger" nbButton size="tiny"
                            class="btn-hapus" (click)="removeDataTaman(n)">
                      <nb-icon icon="close-circle-outline" pack="eva"></nb-icon>
                      Hapus Data
                    </button>
                  </div>
                </div>
              </div>
            </div>




            <!---------------- Taman --------------------- Taman ------------------------------ Taman -->
            <div class="form-group row" *ngIf="statusBelumSerahTerima">
              <label for="keteranganBelumSerahTerima" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Keterangan
              </label>
              <div class="col-sm-9">
              <textarea rows="5" nbInput fullWidth shape="round"
                        placeholder="Keterangan Belum Serah Terima"
                        name="keteranganBelumSerahTerima"
                        id="keteranganBelumSerahTerima"
                        formControlName="keterangan"   class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.keterangan.errors }">
              </textarea>
                <div *ngIf="submitted && f.keterangan.errors" class="invalid-feedback">
                  <div *ngIf="f.keterangan.errors.required"> Masukan Keterangan</div>
                </div>
              </div>
            </div>

            <div class="form-group row" *ngIf="statusTerlantar">
              <label for="keteranganTerlantar" class="label col-sm-3 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Keterangan
              </label>
              <div class="col-sm-9">
              <textarea rows="5" nbInput fullWidth shape="round"
                        placeholder="Keterangan Terlantar"
                        id="keteranganTerlantar" name="keteranganTerlantar"
                        formControlName="keterangan"   class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.keterangan.errors }">
              </textarea>
                <div *ngIf="submitted && f.keterangan.errors" class="invalid-feedback">
                  <div *ngIf="f.keterangan.errors.required"> Masukan Keterangan</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="label col-sm-12 col-form-label label-border">Data CCTV</label>
            </div>
            <div formArrayName="dataCCTV">
              <div *ngFor="let dataCCTV of
              formPerumahan.controls.formDataPerumahan['controls']['dataCCTV']['controls'];
              let m = index" [formGroupName]="m">

                <h3>Data Ke-{{m + 1}}</h3>
                <div class="form-group row">
                  <label for="namaCCTVPerumahan"
                         class="label col-sm-3 col-form-label"> &nbsp;&nbsp;&nbsp;&nbsp;Nama CCTV
                    Perumahan</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth placeholder="Nama CCTV Perumahan"
                           id="namaCCTVPerumahan" name="namaCCTVPerumahan"
                           formControlName="nama_cctv" [ngClass]="{ 'is-invalid': submitted &&
                               dataCCTV['controls'].nama_cctv.errors }"
                           class="form-control">

                    <div *ngIf="submitted && dataCCTV['controls'].nama_cctv.errors"
                         class="invalid-feedback">
                      <div *ngIf="dataCCTV['controls'].nama_cctv.errors.required">
                        Masukan Nama CCTV
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="ipCameraPerumahan"
                         class="label col-sm-3 col-form-label"> &nbsp;&nbsp;&nbsp;&nbsp;IP
                    Camera</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth placeholder="IP Camera"
                           id="ipCameraPerumahan" name="ipCameraPerumahan"
                           formControlName="ip_cctv"formControlName="nama_cctv" [ngClass]="{ 'is-invalid': submitted &&
                               dataCCTV['controls'].ip_cctv.errors }"
                           class="form-control">

                    <div *ngIf="submitted && dataCCTV['controls'].ip_cctv.errors"
                         class="invalid-feedback">
                      <div *ngIf="dataCCTV['controls'].ip_cctv.errors.required">
                        Masukan IP CCTV
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="label col-sm-3 col-form-label"></label>
                  <div class="col-sm-9">
                    <button type="button" nbButton status="success" nbButton size="tiny"
                            class="btn-hapus"
                            (click)="addDataCCTV()">
                      <nb-icon icon="plus-circle-outline" pack="eva"></nb-icon>
                      Tambah Data
                    </button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" nbButton status="danger" nbButton size="tiny"
                            class="btn-hapus" (click)="removeDataCCTV(m)">
                      <nb-icon icon="close-circle-outline" pack="eva"></nb-icon>
                      Hapus Data
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <hr>
            <button type="submit" nbButton size="small" status="primary" class="btn-submit">
              <nb-icon icon="save-outline" pack="eva"></nb-icon>
              Simpan
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button routerLink="../../../pages/psu-kawasan-perumahan/kelola-data-perumahan"
                    type="button"
                    nbButton size="small" status="danger">
              <nb-icon
                  icon="close-circle-outline" pack="eva"></nb-icon>
              Batal
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset"
                    nbButton size="small" status="info">
              <nb-icon
                  icon="refresh-outline" pack="eva"></nb-icon>
              Reset
            </button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
