<nb-card>
  <nb-card-header class="text-center">
    <h4>TPU Kuburan Kecil Padurenan</h4>
  </nb-card-header>
  <nb-card-body>
    <div class="row show-grid">
      <div class="col-4 col-sm-4">
        <div><label>Luas TPU (m2)</label></div>
        <div><label>Daya Tampung TPU</label></div>
        <div><label>Tahun Digunakan</label></div>
        <div><label>Lokasi</label></div>
        <div><strong><label>Status</label></strong></div>
        <div><strong><label> &nbsp;&nbsp;&nbsp;&nbsp;Tanggal Serah Terima</label></strong></div>
        <div><strong><label> &nbsp;&nbsp;&nbsp;&nbsp;No. Berita Acara Serah Terima</label></strong></div>
        <div><strong><label> &nbsp;&nbsp;&nbsp;&nbsp;SPH</label></strong></div>

      </div>
      <div class="col-6 col-md-6 spasi">
        <div>: <label>TPU Kuburan Kecil Padurenan</label></div>
        <div>: <label>200 m2</label></div>
        <div>: <label>400</label></div>
        <div>: <label>Gunung Sindur, Padurenan, RT.18 / RW.1</label></div>
      </div>
    </div>
    <strong><label>Pengelola / Penjaga TPU </label></strong>
    <table class="table table-sm table-bordered">
      <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama</th>
        <th scope="col">Umur</th>
        <th scope="col">Pendidikan Terakhir</th>
        <th scope="col">Tugas</th>
        <th scope="col">Keterangan</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Ahmad Marzuki</td>
        <td>45 Tahun</td>
        <td>S1, Teknik Informatika</td>
        <td>Koordinator TPU</td>
        <td>-</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Mursalih</td>
        <td>50 Tahun</td>
        <td>SMP</td>
        <td>Petugas Kebersihan TPU</td>
        <td>Tugas dalam lingkungan TPU</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Jonatan Cristin</td>
        <td>20 Tahun</td>
        <td>SMA</td>
        <td>Petugas Kebersihan TPU</td>
        <td>Tugas dalam lingkungan TPU</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Ikhwan Suntana</td>
        <td>67 Tahun</td>
        <td>SMP</td>
        <td>Petugas Penggali Kubur</td>
        <td>Tugas dalam lingkungan TPU</td>
      </tr>
      </tbody>
    </table>

    <strong><label>Foto TPU</label></strong>
    <table class="table table table-sm table-bordered">
      <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama Foto</th>
        <th scope="col">Gambar Foto</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Pembersihan Makam</td>
        <td><img src="../../../../../assets/images/TPU/TPU%20Padurenan%202.jpg" class="rounded"></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Penyiraman Makan</td>
        <td><img src="../../../../../assets/images/TPU/TPU%20Padurenan.jpg" class="rounded"></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Penyiraman Makan</td>
        <td><img src="../../../../../assets/images/TPU/TPU%20Padurenan%203.jpg"
                 class="rounded"></td>
      </tr>
      </tbody>
    </table>

    <strong><label>Inventarisasi Alat</label></strong>
    <table class="table table table-sm table-bordered">
      <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama Alat</th>
        <th scope="col">Jumlah Alat</th>
        <th scope="col">Keterangan Alat</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Cangkul</td>
        <td>10 Unit</td>
        <td>Dari Pemerintah Kab.Bogor</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Sabit</td>
        <td>10 Unit</td>
        <td>Dari Pemerintah Kab.Bogor</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Sapu Lidi</td>
        <td>20 Unit</td>
        <td>Dari Pemerintah Kab.Bogor</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Truk Pengakut Sampah</td>
        <td>5 Unit</td>
        <td>Dari Pemerintah Kab.Bogor</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Keranda Mayat</td>
        <td>3 Unit</td>
        <td>Dari Pemerintah Kab.Bogor</td>
      </tr>
      </tbody>
    </table>

    <div class="row show-grid">
      <div class="col-4 col-sm-4">
        <div><label>Status</label></div>
        <div><label>Koordinat TPU</label></div>
      </div>
      <div class="col-6 col-md-6 spasi">
        <div>: <label>Sudah Operasional  || Kondisi : Baik</label></div>
        <div>: <label>32° 18.385' U 122° 36.875' B</label></div>
      </div>
    </div>

    <strong><label>Data CCTV</label></strong>
    <table class="table table table-sm table-bordered">
      <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama CCTV</th>
        <th scope="col">IP Camera</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Pintu Gerbang Utama</td>
        <td>10.110.200.16</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Makan Tengah</td>
        <td>10.110.200.15</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Makan Keramat</td>
        <td>10.110.200.14</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Pintu Belakang</td>
        <td>10.110.200.13</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Makan Bagian Dalam</td>
        <td>10.110.200.11</td>
      </tr>
      </tbody>
    </table>

    <div class="row show-grid">
      <div class="col-2 col-sm-2">
        <div><label>Keterangan</label></div>
      </div>
      <div class="col-10 col-md-6 spasi">
        <div>: <label>Makan Ini Selalu Ramai Pada Saat Malam Jumat Kliwon</label></div>
      </div>
    </div>
    <br>

    <a routerLink="../../../pages/psu-kawasan-permukiman/kelola-data-permukiman" nbButton
       status="primary" nbButton size="small">
      <nb-icon icon="arrow-back-outline" pack="eva"></nb-icon>Kembali</a>
    <a routerLink="" nbButton
       status="success" nbButton size="small" class="btn-rata-kanan">
      <nb-icon icon="printer-outline" pack="eva"></nb-icon>Cetak</a>

  </nb-card-body>
</nb-card>


