<nb-card>
  <nb-card-header class="text-center">
    <h4>{{ this.state.dataPermukiman.nama_tpu }}</h4>
  </nb-card-header>
  <nb-card-body>
    <div class="row show-grid">
      <div class="col-4 col-sm-4">
        <div><label>Luas TPU (m2)</label></div>
        <div><label>Daya Tampung TPU</label></div>
        <div><label>Tahun Digunakan</label></div>
        <div><label>Lokasi</label></div>
      </div>
      <div class="col-6 col-md-6 spasi">
        <div>: <label>{{ this.state.dataPermukiman.luas_tpu }}</label></div>
        <div>: <label>{{ this.state.dataPermukiman.daya_tampung_tpu }}</label></div>
        <div>: <label>{{ this.state.dataPermukiman.tahun_digunakan }}</label></div>
        <div>:
          <label>{{ this.state.dataPermukiman.kecamatan }}, {{ this.state.dataPermukiman.kelurahan }},
            RT.{{ this.state.dataPermukiman.RT }} / RW.{{ this.state.dataPermukiman.RW }}</label></div>
      </div>
    </div>
    <strong><label>Pengelola / Penjaga TPU </label></strong>
    <table class="table table-sm table-bordered">
      <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama</th>
        <th scope="col">Umur</th>
        <th scope="col">Pendidikan Terakhir</th>
        <th scope="col">Tugas</th>
        <th scope="col">Keterangan</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dataPengelola of this.state.dataPermukiman.pengelola">
        <th scope="row">{{dataPengelola.id}}</th>
        <td>{{dataPengelola.nama}}</td>
        <td>{{dataPengelola.umur}}</td>
        <td>{{dataPengelola.pendidikan_terakhir}}</td>
        <td>{{dataPengelola.tugas}}</td>
        <td>{{dataPengelola.keterangan}}</td>
      </tr>
      </tbody>
    </table>

    <strong><label>Foto TPU</label></strong>
    <table class="table table table-sm table-bordered">
      <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama Foto</th>
        <th scope="col">Gambar Foto</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dataFotoTPU of this.state.dataPermukiman.foto_tpu">
        <th scope="row">{{dataFotoTPU.id}}</th>
        <td>{{dataFotoTPU.nama}}</td>
        <td><img src="{{dataFotoTPU.part_foto}}" class="rounded"></td>
      </tr>
      </tbody>
    </table>

    <strong><label>Inventarisasi Alat</label></strong>
    <table class="table table table-sm table-bordered">
      <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama Alat</th>
        <th scope="col">Jumlah Alat</th>
        <th scope="col">Keterangan Alat</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dataInvetaris of this.state.dataPermukiman.inventaris">
        <th scope="row">{{dataInvetaris.id}}</th>
        <td>{{dataInvetaris.nama_alat}}</td>
        <td>{{dataInvetaris.jumlah}}</td>
        <td>{{dataInvetaris.keterangan}}</td>
      </tr>
      </tbody>
    </table>

    <div class="row show-grid">
      <div class="col-4 col-sm-4">
        <div><label>Status</label></div>
        <div><label>Koordinat TPU</label></div>
      </div>
      <div class="col-6 col-md-6 spasi">
        <div>:
          <label>{{ this.state.dataPermukiman.status }} || Kondisi :
            {{ this.state.dataPermukiman.kondisi }}</label></div>
        <div>: <label>{{ this.state.dataPermukiman.koordinat }}</label></div>
      </div>
    </div>

    <strong><label>Data CCTV</label></strong>
    <table class="table table table-sm table-bordered">
      <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama CCTV</th>
        <th scope="col">IP Camera</th>
        <th scope="col">Video</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dataCCTV of this.state.dataPermukiman.cctv">
        <th scope="row">{{dataCCTV.id}}</th>
        <td>{{dataCCTV.nama_cctv}}</td>
        <td>{{dataCCTV.ip_cctv}}</td>
        <td>{{dataCCTV.video}}</td>
      </tr>
      </tbody>
    </table>

    <div class="row show-grid">
      <div class="col-2 col-sm-2">
        <div><label>Keterangan</label></div>
      </div>
      <div class="col-10 col-md-6 spasi">
        <div>: <label>{{ this.state.dataPermukiman.keterangan }}</label></div>
      </div>
    </div>
    <br>

    <a routerLink="../../../pages/psu-kawasan-permukiman/kelola-data-permukiman" nbButton
       status="primary" nbButton size="small">
      <nb-icon icon="arrow-back-outline" pack="eva"></nb-icon>Kembali</a>
    <a routerLink="" nbButton
       status="success" nbButton size="small" class="btn-rata-kanan">
      <nb-icon icon="printer-outline" pack="eva"></nb-icon>Cetak</a>

  </nb-card-body>
</nb-card>


