<nb-card>
  <nb-card-header>
    Tabel Data User
  </nb-card-header>
  <nb-card-body>
    <form class="form-inline">
      <a routerLink="../../../pages/psu-user/input-data-user" nbButton
         status="primary" nbButton size="small">
        <nb-icon icon="plus-outline" pack="eva"></nb-icon>Tambah</a>
    </form>
    <div>

    </div>
    <div class="col-md-12" style="overflow-x: scroll;">
      <div class="smart-table-container">
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
      </div>
    </div>
    <div class="row col-6" >
      <a (click)="goBack()" nbButton
         status="primary" nbButton size="small">
        <nb-icon icon="arrow-back-outline" pack="eva"></nb-icon>Kembali</a>
    </div>
  </nb-card-body>
</nb-card>
