@import '../../../../@theme/styles/themes';

.form-inline {
  margin: 0 5px 5px 0;
}
.select-kecamatan {
  width: 10em;
  margin-left: 10px;
}
.select-kelurahan {
  width: 12em;
}

.select-status {
  width: 19em;
}

.select-tahun {
  width: 5em;
  margin-right: 2em;
}
.btn-hapus {
  margin-left: 15px;
}

.custom-file {
  width: 20em;
}

.btn-import {
 margin: 10px;
}
.label-import {
  margin-right: 10px;
}
@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

