<nb-card>
  <nb-card-header>
    Tabel PSU Perumahan
  </nb-card-header>
  <nb-card-body>
    <form class="form-inline">
      <nb-select-label>Pilih Filter</nb-select-label>
      <nb-select placeholder="Kecamatan" class="select-kecamatan" name="kecamatan"
                 id="kecamatan" (selectedChange)="changeKecamatan($event)">
        <nb-option *ngFor="let dataKecamatan of kecamatan" value="{{dataKecamatan.kecamatan}}">{{dataKecamatan.kecamatan}}</nb-option>
      </nb-select>&nbsp;&nbsp;
      <nb-select placeholder="Kabupaten" class="select-kecamatan" name="kabupaten"
                 (selectedChange)="changeKelurahan($event, kecamatan)" [disabled]="disableKelurahan">
        <nb-option *ngFor="let dataKelurahan of kelurahan"
                   value="{{dataKelurahan.id}}">{{dataKelurahan.namaKelurahan}}</nb-option>
      </nb-select>&nbsp;&nbsp;

      <nb-select placeholder="Status" class="select-status" name="status" id="status"
                 (change)="statusChange($event)">
        <nb-option *ngFor="let pilih_status of statusSelect" value="{{pilih_status}}">{{pilih_status}}</nb-option>
      </nb-select>&nbsp;&nbsp;

      <a routerLink="../../../pages/psu-kawasan-perumahan/input-data-perumahan" nbButton
         status="primary" nbButton size="small" class="btn-tambah">
        <nb-icon icon="plus-outline" pack="eva"></nb-icon>Tambah</a>

      <button nbButton status="success" nbButton size="small" class="btn-import"
              (click)="exportAsXLSX()">
        <nb-icon icon="arrowhead-down-outline" pack="eva"></nb-icon>
        Export
      </button>
    </form>
    <hr>

    <div>
      <form class="form-inline">
        <strong><label class="label-import">File Import File Excel</label></strong>
        <div class="custom-file">
          <label class="custom-file-label">Pilih Nama File</label>
          <input type="file" class="custom-file-input" id="validatedCustomFile"
                 (change)="onFileChange($event)">
          <label class="custom-file-label" id="output"></label>
        </div>

        <button type="submit" nbButton status="primary" class="btn-import" nbButton size="small">
          <nb-icon icon="folder-add-outline" pack="eva"></nb-icon>
          Import
        </button>
      </form>
    </div>

    <div class="col-md-12" style="overflow-x: scroll;">
      <div class="smart-table-container" style="width: 1500px;">
        <ng2-smart-table [settings]="settings" [source]="source" ></ng2-smart-table>
      </div>
    </div>
    <div class="row col-6" >
      <a (click)="goBack()" nbButton
         status="primary" nbButton size="small">
        <nb-icon icon="arrow-back-outline" pack="eva"></nb-icon>Kembali</a>
    </div>
  </nb-card-body>
</nb-card>
