<div class="filter-informasi">
  <h5>Filter</h5>

<nb-select placeholder="Kecamatan" class="select-informasi">
  <nb-option></nb-option>
</nb-select>

<nb-select placeholder="Kelurahan" class="select-informasi">
  <nb-option></nb-option>
</nb-select>

<nb-select placeholder="Nama Perumahan" class="select-informasi">
  <nb-option></nb-option>
</nb-select>
</div>

<div class="row">
  <div class="col-6">
    <div class="container">
      <canvas #streaming id="canvas"  width="1920" height="1080" style="display: block;
      width: 100%;"></canvas>


<!--    <webcam [height]="500" [width]="500" [trigger]="triggerObservable"-->
<!--            (imageCapture)="handleImage($event)" *ngIf="showWebcam"-->
<!--            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"-->
<!--            (initError)="handleInitError($event)"></webcam>-->
    <div class="content">
      <h5>Camera 1
        <button
          (click)="triggerSnapshot();"
          class="tombol-camera"><i class="fa fa-camera-retro"></i></button></h5>
    </div>
    </div>
  </div>
  <div class="col-5 informasi">
    <h5>Detail Informasi</h5>
    <label>Nama Perumahan : Bumi Citra Asri</label><br>
    <label>Alamat : Bojong Gede, Tonjong, RT.12 / RW.2</label>
    <label>Nama CCTV: Tampak Depan</label><br>
    <label>IP CCTV: 10.133.122.111</label><br>
  </div>


<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{error | json}}</li>
</ul>
</div>
