<div style="text-align:center" class="row">
  <div class="col-4 container">
    <webcam [height]="300" [width]="300" [trigger]="triggerObservable"
            (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"></webcam>
    <div class="content">
      <h5>Camera 1</h5>
    </div>
    <br/>
    <div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸</div>
  </div>

  <div class="col-4 container">
    <webcam [height]="300" [width]="300" [trigger]="triggerObservable"
            (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"></webcam>
    <div class="content">
      <h5>Camera 2</h5>
    </div>
    <br/>
    <div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸</div>
  </div>

  <div class="col-4 container">
    <webcam [height]="300" [width]="300" [trigger]="triggerObservable"
            (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"></webcam>
    <div class="content">
      <h5>Camera 3</h5>
    </div>
    <br/>
    <div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸</div>
  </div>

  <div class="col-4 container">
    <webcam [height]="300" [width]="300" [trigger]="triggerObservable"
            (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"></webcam>
    <div class="content">
      <h5>Camera 4</h5>
    </div>
    <br/>
    <div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸</div>
  </div>

  <div class="col-4 container">
    <webcam [height]="300" [width]="300" [trigger]="triggerObservable"
            (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"></webcam>
    <div class="content">
      <h5>Camera 5</h5>
    </div>
    <br/>
    <div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸</div>
  </div>

  <div class="col-4 container">
    <webcam [height]="300" [width]="300" [trigger]="triggerObservable"
            (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"></webcam>
    <div class="content">
      <h5>Camera 6</h5>
    </div>
    <br/>
    <div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸</div>
  </div>
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{error | json}}</li>
</ul>

