@import '../../../../@theme/styles/themes';

.text-rt-rw {
  width: 100px;
}

.label-border {
  color: #206ea1;
  font-size: 1rem;
  border: #2d8ac7 solid 1px;
  text-align: center;
}

.select-kondisi {
  width: 15rem;
}
