<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Input Data Kawasan Permukiman</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <label for="namaTPU" class="label col-sm-3 col-form-label">Nama Tempat Pemakaman Umum
              (TPU)</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth placeholder="Nama Tempat Pemakaman Umum (TPU)"
                     id="namaTPU" name="namaTPU">
            </div>

          </div>
          <div class="form-group row">
            <label for="luasTPU" class="label col-sm-3 col-form-label">Luas TPU</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth placeholder="Luas TPU" id="luasTPU"
                     name="luasTPU">
            </div>
          </div>

          <div class="form-group row">
            <label for="dayaTampungTPU" class="label col-sm-3 col-form-label">Daya Tampung
              TPU</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth placeholder="Daya Tampung TPU"
                     id="dayaTampungTPU" name="dayaTampungTPU">
            </div>
          </div>

          <div class="form-group row">
            <label for="tahunDigunakan" class="label col-sm-3 col-form-label">Tahun
              Digunakan</label>
            <div class="col-sm-9">
              <input type="file" nbInput placeholder="Tahun Digunakan" id="tahunDigunakan">
            </div>
          </div>

          <div class="form-group row">
            <label class="label col-sm-3 col-form-label">Lokasi</label>
            <div class="col-sm-9">
              <nb-select placeholder="Kecamatan" class="select-kecamatan" name="kecamatan"
                         id="kecamatan" (selectedChange)="changeKecamatan($event)">
                <nb-option *ngFor="let dataKecamatan of kecamatan"
                           value="{{dataKecamatan.kecamatan}}">{{dataKecamatan.kecamatan}}</nb-option>
              </nb-select>&nbsp;&nbsp;
              <nb-select placeholder="Kabupaten" class="select-kecamatan" name="kabupaten"
                         (change)="changeKelurahan($event)" [disabled]="disableKelurahan">
                <nb-option *ngFor="let dataKelurahan of kelurahan"
                           value="{{dataKelurahan.id}}">{{dataKelurahan.namaKelurahan}}</nb-option>
              </nb-select>&nbsp;&nbsp;

              <input type="text" nbInput placeholder="RT" name="rt" class="text-rt-rw" name="rt">
              &nbsp;&nbsp;
              <input type="text" nbInput placeholder="RW" name="rw" class="text-rt-rw" name="rw">
            </div>
          </div>



          <div class="form-group row">
            <label class="label col-sm-12 col-form-label label-border">Pengelola / Penjaga TPU</label>
          </div>

          <form class="basic-container"
                [formGroup]="dataPengelolaForm" *ngFor="let dataPengelola of
                dataPengelolaForm.get('dataPengelola').controls;
                let j = index" [formGroupName]="j">
            <h3>Data Ke-{{j+1}}</h3>
            <hr>

          <div class="form-group row">
            <label for="namaPengelola" class="label col-sm-3 col-form-label">Nama</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth placeholder="Nama"
                     id="namaPengelola" name="nama">
            </div>
          </div>

          <div class="form-group row">
            <label for="umur" class="label col-sm-3 col-form-label">Umur</label>
            <div class="col-sm-9">
              <input type="number" nbInput fullWidth placeholder="Umur"
                     id="umur" name="umur">
            </div>
          </div>

          <div class="form-group row">
            <label for="pendidikan" class="label col-sm-3 col-form-label">Pendidikan
              Terakhir</label>
            <div class="col-sm-9">
              <nb-select placeholder="Pendidikan Terakhir" class="select-pendidikan"
                         name="pendidikan" id="pendidikan">
                <nb-option *ngFor="let pilihPendidikan of pendidikan"
                           value="{{pilihPendidikan}}">{{pilihPendidikan}}</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="form-group row">
            <label for="tugasPengelolah" class="label col-sm-3 col-form-label">Tugas</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth placeholder="Tugas"
                     id="tugasPengelolah" name="tugas">
            </div>
          </div>

          <div class="form-group row">
            <label for="keteranganTugas" class="label col-sm-3 col-form-label">Keterangan</label>
            <div class="col-sm-9">
               <textarea rows="5" nbInput fullWidth shape="round"
                         placeholder="Keterangan"
                         id="keteranganTugas" name="keteranganTugas">
               </textarea>
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="label col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
              <button type="submit" nbButton status="success" nbButton size="tiny" class="btn-hapus"
                      (click)="addDataPengelola()" (click)="disableTombolTambah($event)">
                <nb-icon icon="plus-circle-outline" pack="eva"></nb-icon>Tambah Data
              </button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="submit" nbButton status="danger" nbButton size="tiny"
                      class="btn-hapus"  (click)="removeDataPengelolah(j)">
                <nb-icon icon="close-circle-outline" pack="eva"></nb-icon>Hapus Data
              </button>
            </div>
          </div>
          </form>


          <div class="form-group row">
            <label class="label col-sm-12 col-form-label label-border">Foto TPU</label>
          </div>

          <form class="basic-container"
                [formGroup]="dataFotoTPUForm" *ngFor="let dataFotoTPU of
                dataFotoTPUForm.get('dataFotoTPU').controls;
                let k = index" [formGroupName]="k">
            <h3>Data Ke-{{k+1}}</h3>
            <hr>

          <div class="form-group row">
            <label for="namaTPU" class="label col-sm-3 col-form-label">Nama Foto</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth placeholder="Nama Foto"
                     id="namaTPU" name="namaTPU">
            </div>
          </div>

          <div class="form-group row">
            <label for="fotoTPU" class="label col-sm-3 col-form-label">File Foto TPU</label>
            <div class="col-sm-9">
              <input type="file" nbInput placeholder="Masukan Foto Taman" id="fotoTPU"
                     name="fotoTPU">
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="label col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
              <button type="submit" nbButton status="success" nbButton size="tiny" class="btn-hapus"
                      (click)="addDataFotoTPU()" (click)="disableTombolTambah($event)">
                <nb-icon icon="plus-circle-outline" pack="eva"></nb-icon>Tambah Data
              </button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="submit" nbButton status="danger" nbButton size="tiny"
                      class="btn-hapus" (click)="removeDataFotoTPU(k)">
                <nb-icon icon="close-circle-outline" pack="eva"></nb-icon>Hapus Data
              </button>
            </div>
          </div>
          </form>



          <div class="form-group row">
            <label class="label col-sm-12 col-form-label label-border">Inventaris Alat</label>
          </div>

          <form class="basic-container"
                [formGroup]="dataInventarisForm" *ngFor="let dataInventaris of
                dataInventarisForm.get('dataInventaris').controls;
                let m = index" [formGroupName]="m">
            <h3>Data Ke-{{m+1}}</h3>
            <hr>


          <div class="form-group row">
            <label for="namaAlat" class="label col-sm-3 col-form-label">Nama Alat</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth placeholder="Nama Alat"
                     id="namaAlat" name="namaAlat">
            </div>
          </div>

          <div class="form-group row">
            <label for="jumlahAlat" class="label col-sm-3 col-form-label">Jumlah Alat</label>
            <div class="col-sm-9">
              <input type="number" nbInput fullWidth placeholder="Jumlah Alat"
                     id="jumlahAlat" name="jumlahAlat">
            </div>
          </div>


          <div class="form-group row">
            <label for="keteranganInventaris" class="label col-sm-3 col-form-label">Keterangan
            </label>
            <div class="col-sm-9">
              <textarea rows="5" nbInput fullWidth shape="round"
                        placeholder="Keterangan"
                        id="keteranganInventaris" name="keteranganInventaris">
              </textarea>
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="label col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
              <button type="submit" nbButton status="success" nbButton size="tiny" class="btn-hapus"
                      (click)="addDataInventaris()" (click)="disableTombolTambah($event)">
                <nb-icon icon="plus-circle-outline" pack="eva"></nb-icon>Tambah Data
              </button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="submit" nbButton status="danger" nbButton size="tiny"
                      class="btn-hapus"  (click)="removeDataInventaris(m)">
                <nb-icon icon="close-circle-outline" pack="eva"></nb-icon>Hapus Data
              </button>
            </div>
          </div>
          </form>

          <div class="form-group row">
            <label class="label col-sm-12 col-form-label label-border">Status</label>
          </div>

          <div class="form-group row">
            <label class="label col-sm-3 col-form-label">
              Data Status</label>
          </div>

          <div class="form-group row">
            <label for="status" class="label col-sm-3 col-form-label">Status</label>
            <div class="col-sm-9">
              <nb-select placeholder="Status..." class="select-status" name="status"
                         id="status" (selectedChange)="onSelectOption($event)">
                <nb-option value="Sudah Operasional">Sudah Operasional</nb-option>
                <nb-option value="Belum Operasional">Belum Operasional</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="form-group row" *ngIf="statusSudahOperasional">
            <label for="kondisi" class="label col-sm-3 col-form-label">Kondisi</label>
            <div class="col-sm-9">
              <nb-select placeholder="Kondisi..." class="select-status" name="kondisi" id="kondisi">
                <nb-option value="Baik">Baik</nb-option>
                <nb-option value="Rusak Ringan">Rusak Ringan</nb-option>
                <nb-option value="Rusak Berat">Rusak Berat</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="form-group row" *ngIf="statusBelumOperasional">
            <label for="kondisi2" class="label col-sm-3 col-form-label">Kondisi</label>
            <div class="col-sm-9">
              <nb-select placeholder="Kondisi..." class="select-status" name="kondisi2"
                         id="kondisi2">
                <nb-option value="Tertata">Tertata</nb-option>
                <nb-option value="Belum Tertata">Belum Tertata</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="form-group row">
            <label for="keteranganStatus"
                   class="label col-sm-3 col-form-label">Keterangan
            </label>
            <div class="col-sm-9">
              <textarea rows="5" nbInput fullWidth shape="round" placeholder="Keterangan"
                        id="keteranganStatus" name="keteranganStatus"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label for="koordinatTPU"
                   class="label col-sm-3 col-form-label">Koordinat TPU</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth placeholder="Koordinat TPU"
                     id="koordinatTPU" name="koordinatTPU">
            </div>
          </div>

          <div class="form-group row">
            <label class="label col-sm-12 col-form-label label-border">Data CCTV</label>
          </div>

          <form class="basic-container"
                [formGroup]="dataCCTVForm" *ngFor="let dataCCTV of
                dataCCTVForm.get('dataCCTV').controls;
                let p = index" [formGroupName]="p">
            <h3>Data Ke-{{p+1}}</h3>
            <hr>

          <div class="form-group row">
            <label for="namaCCTV" class="label col-sm-3 col-form-label">Nama CCTV</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth placeholder="Nama CCTV"
                     id="namaCCTV" name="namaCCTV">
            </div>
          </div>

          <div class="form-group row">
            <label for="ipCamera" class="label col-sm-3 col-form-label">IP Camera</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth placeholder="IP Camera"
                     id="ipCamera" name="ipCamera">
            </div>
          </div>

          <div class="form-group row">
            <label class="label col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
              <button type="submit" nbButton status="success" nbButton size="tiny" class="btn-hapus"
                      (click)="addDataCCTV()"(click)="disableTombolTambah($event)">
                <nb-icon icon="plus-circle-outline" pack="eva"></nb-icon>Tambah Data
              </button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="submit" nbButton status="danger" nbButton size="tiny"
                      class="btn-hapus"  (click)="removeDataCCTV(p)">
                <nb-icon icon="close-circle-outline" pack="eva"></nb-icon>Hapus Data
              </button>
            </div>
          </div>
          </form>


          <div class="form-group row">
            <label for="keteranganPerumahan" class="label col-sm-3 col-form-label">Keterangan
            </label>
            <div class="col-sm-9">
              <textarea rows="5" nbInput fullWidth shape="round"
                        placeholder="Keterangan Perumahan"
                        id="keteranganPerumahan" name="keteranganPerumahan"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" nbButton size="small" status="success">Input</button>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <button type="submit" nbButton  size="small" status="danger">Batal</button>
            </div>
          </div>
        </form>

      </nb-card-body>
    </nb-card>
  </div>
</div>
