<div class="col-12">
  <nb-card size="giant">
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Bagan">
          <nb-card-body>
            <ngx-echarts-pie></ngx-echarts-pie>
          </nb-card-body>
      </nb-tab>
      <nb-tab tabTitle="Peta">
          <ngx-search (positionChanged)="updateLocation($event)"></ngx-search>
          <ngx-map [searchedLocation]="searchedLocation"></ngx-map>
      </nb-tab>
      <nb-tab tabTitle="Tabel">
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
      </nb-tab>
    </nb-tabset>
  </nb-card>
</div>
