<nb-card>
  <nb-card-header>
    Rekapitulasi Data Perumahan
  </nb-card-header>
  <nb-card-body>
    <ngx-charts-bar-vertical
      [view]="view"
      [trimXAxisTicks]="false"
      [scheme]="colorScheme"
      [results]="single"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [barPadding]="barPadding"
      (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </nb-card-body>
</nb-card>



<div class="row">
  <div class="col-xxl-9">
    <ngx-peta-perumahan></ngx-peta-perumahan>
  </div>
</div>
