<table class="table table-borderless table-sm">
  <tbody>
  <tr>
    <td><b>Luas TPU</b></td>
    <td>:</td>
    <td>{{luas_tpu}}</td>
    <td></td>
    <td rowspan="9"><img src="../../../../../assets/images/camera1.jpg"></td>
  </tr>
  <tr>
    <td><b>Daya Tampung TPU</b></td>
    <td>:</td>
    <td>{{daya_tampung_tpu}}</td>
  </tr>
  <tr>
    <td><b>Foto</b></td>
    <td>:</td>
    <td><a href="">{{foto}}</a></td>
  </tr>
  <tr>
    <td><b>Lokasi</b></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Kecamatan</td>
    <td>:</td>
    <td>{{kecamatan}}</td>
  </tr>
  <tr>
    <td>Kelurahan</td>
    <td>:</td>
    <td>{{kelurahan}}</td>
  </tr>
  <tr>
    <td>RT</td>
    <td>:</td>
    <td>{{RT}}</td>
  </tr>
  <tr>
    <td>RW</td>
    <td>:</td>
    <td>{{RW}}</td>
  </tr>
  <tr>
    <td><b>Status</b></td>
    <td>:</td>
    <td><b>{{status}}</b></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><b>Kondisi</b></td>
    <td>:</td>
    <td><b>{{kondisi}}</b></td>
  </tr>
  <tr>
    <td><b>Keterangan</b></td>
    <td>:</td>
    <td>{{keterangan}}</td>
  </tr>
  <tr>
    <td colspan="4"><a routerLink="../../../pages/psu-kawasan-permukiman/detail-data-permukiman"
                       [state]="detailPermukiman"
                       (click)="close()"><b>Selengkapnya...</b></a></td>
  </tr>
  </tbody>
</table>
