<nb-card>
  <nb-card-header>
    Tabel Data User
  </nb-card-header>
  <nb-card-body>
    <form class="form-inline">
      <a routerLink="../../../pages/psu-kawasan-permukiman/input-data-permukiman" nbButton
         status="primary" nbButton size="small">
        <nb-icon icon="plus-outline" pack="eva"></nb-icon>
        Tambah</a>

      <button nbButton status="success" nbButton size="small" class="btn-import">
        <nb-icon icon="arrowhead-down-outline" pack="eva"></nb-icon>
        Export
      </button>
    </form>
    <div>

    </div>
    <div class="col-md-12" style="overflow-x: scroll;">
      <div class="smart-table-container" style="width: 500px;">
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </div>
    </div>
    <div class="row col-6" >
      <a (click)="goBack()" nbButton
         status="primary" nbButton size="small">
        <nb-icon icon="arrow-back-outline" pack="eva"></nb-icon>Kembali</a>
    </div>
  </nb-card-body>
</nb-card>
