.size-rt-rw {
  width: 5rem;
}

.select-tahun {
  width: 10rem;
}

.label-border {
  color: #206ea1;
  font-size: 1rem;
  border: #e3e3e3 solid 1px;
  text-align: center;
  background: #e3e3e3;
}

.select-kondisi {
  width: 15rem;
}

.select-status {
  width: 7rem;
}

h3 {
  border: #e6e6e6 solid 2px;
  width: 12rem;
  text-align: center;
  background: #e3e3e3;
}

.btn-submit {
  float: right;
}

.select-tahun {
  width: 15rem;
}
